@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* ### Neutral */

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* font */

}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--light-gray);
}

.flex-container {
    background-color: #fff;
    width: 50%;
    margin: 15% auto;
    border-radius: 8px;
}

.yellow {
    color: var(--bright-yellow);
    font-weight: 700;
}

ul {
    list-style-type: none;
}

p, li {
    line-height: 1.6;
}

.flex-container > article:first-child {
    padding: 2rem;
}

.flex-container > article:first-child h1 {
    color: var(--cyan);
    margin-bottom: 1rem;
}

.flex-container > article:first-child p {
    margin-bottom: 0.50rem;
}

.flex-container > article:first-child p:last-child {
    color: var(--grayish-blue);
}

.btn {
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--bright-yellow);
    padding: 1rem 6rem;
    margin-top: 2.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 2px 1px 6px var(--grayish-blue);
    cursor: pointer;
}

.flex-container section {
    display: flex;
}

.flex-container > section article {
    padding: 2rem;
}

.flex-container > section article:first-child {
    background-color: var(--cyan);
    border-radius: 0 0 0 8px;
    flex-basis: 50%;
    color: #fff;
}

.flex-container > section article h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.flex-container > section article:first-child p > span {
    font-size: 2rem;
    font-weight: 600;
}

.flex-container > section article:nth-child(2) {
    background-color: hsl(179, 52%, 49%);
    border-radius: 0 0 8px 0;
    flex-basis: 50%;
    color: #fff;
}


@media screen and (max-width: 375px) {
    .flex-container {
        background-color: #fff;
        width: 80%;
    }

    .flex-container section {
        display: flex;
        flex-direction: column;
    }

    .flex-container > section article:first-child {
        border-radius: 0 0 0 0;
    }

    .btn {
        font-size: 1rem;
        padding: 1rem 5rem;
    }

    .flex-container > section article:nth-child(2) {
        border-radius: 0 0 8px 8px;
    }
}